.recomended-flex{
    display: flex;
    margin-left: 20rem;
}
.recomended-title
{
    margin-left: 20rem;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.btn{
    padding : 10px 20px;
    margin-right: 6px;
    background: transparent;
    border: none;
    border:0.6rem solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor : pointer;
}